body {
    background-color:powderblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: salmon;
}
 
img.avatar {
    width: 200px;
}

.bold {
    font-weight: bolder;
}

footer img {
    width: 20px;
}

.mainLi > li { /*All li immeadiately after mainLi*/
    color: purple;
    margin: auto;
    width: 500px;   
}

h3 + p + span {/* Highlight every paragraph after heading for example */
    color: blue;

}

h3 + p {/* Highlight every paragraph after heading for example */
    color: green;

}

a[href^="https"] {
    color: purple;
}
a[href^=".com"] {
    color: yellow;
}

a:hover {
    color: pink;
}

a:active {
    color: orange;
}

a {
    text-decoration: none;
}

h3:hover {
    opacity: none;
}